body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel-text {
    text-align: center;
    margin-bottom: 20px;
}

.carousel-h {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

}

.carousel-p {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    margin-top: 10px;
}

.carousel__viewport {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

.carousel__slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    position: relative;
    height: 100%;
}

.carousel__snapper img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel__prev,
.carousel__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    z-index: 10;
}

.carousel__prev {
    left: 1rem;
}

.carousel__next {
    right: 1rem;
}


@media (max-width: 768px) {
    .carousel {
        padding-top: 56.25%;
    }

    .carousel__viewport {
        height: auto;
    }

    .carousel__prev,
    .carousel__next {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {

    .carousel__prev,
    .carousel__next {
        width: 2rem;
        height: 2rem;
        font-size: 0.875rem;
    }
}